.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.content-padding {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* ========================================================================================================================================================
HEADER
======================================================================================================================================================== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

.menu,
.menu-address {
  display: none;
}

.logo-type {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.main-nav {
  margin-right: auto;
}

.button-header {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button-header {
    display: none;
  }

  .logo-type {
    margin-right: 120px;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-item-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-item-link:hover,
  .menu-item-link:focus {
    color: #404bbf;
  }

  .link-studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-studio::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .menu-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  address {
    display: block;
    font-style: normal;
  }

  .menu-item-link-address {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item-link-address:hover,
  .menu-item-link-address:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo-type {
    margin-right: 76px;
  }
  .menu-address {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .menu-item-link-address {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-container {
  max-width: 320px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 72px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.menu-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 10px;
}

.main-nav-header {
  margin-bottom: auto;
}

.menu-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-top: 72px;
}

.menu-item-link-header {
  display: block;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.menu-item-link-header:hover,
.menu-item-link-header:focus {
  color: #404bbf;
}

.link-studio {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.link-address-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-address-tel {
  position: relative;
  bottom: 90px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.menu-social-icon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.item-social-icon-header {
  width: calc((100% - 120px) / 4);
}

.link-social-icon-header {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-icon-header:hover,
.link-social-icon-header:focus {
  background-color: #404bbf;
}

.social-list-icon-header {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin: 0;
  }

  .menu-item-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-item-link:hover,
  .menu-item-link:focus {
    color: #404bbf;
  }

  .link-studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-studio::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .menu-address {
    gap: 12px;
  }
  .menu-item-link-address {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .container-header {
    justify-content: space-between;
  }

  .logo-type {
    margin-right: 76px;
  }

  .menu-address {
    flex-direction: row;
    gap: 40px;
  }
}

/* ========================================================================================================================================================
HERO
======================================================================================================================================================== */
.page-hero {
  max-width: 320px;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/background-hero-mob@1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: padding-box;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/background-hero-mob@2.jpg);
  }
}

.host-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
  margin-bottom: 72px;
}

.button-block {
  display: block;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-block:hover,
.button-block:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .page-hero {
    max-width: 768px;
    padding: 112px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/background-hero-tab@1.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .page-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/background-hero-tab@2.jpg);
    }
  }

  .host-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .page-hero {
    max-width: 1440px;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/background-hero-lap@1.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .page-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/background-hero-lap@2.jpg);
    }
  }

  .host-title {
    margin-bottom: 48px;
  }
}

/* ========================================================================================================================================================
BENEFITS
======================================================================================================================================================== */
.menu-benefits {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-container-icon {
  display: none;
}

.item-title-benefits {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.item-text-benefits {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .menu-benefits {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }

  .menu-item-benefits {
    width: calc((100% - 24px) / 2);
  }

  .item-title-benefits {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .menu-benefits {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .menu-item-benefits {
    width: calc((100% - 72px) / 4);
  }

  .item-title-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .item-text-benefits {
    font-weight: 400;
  }
}

/* ========================================================================================================================================================
TEAM
======================================================================================================================================================== */

.container-team {
  max-width: 320px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
}

.menu-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.menu-item-team {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.team-worker {
  max-width: 264px;
  padding: 32px 16px;
}

.item-title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.item-text-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  text-align: center;
}

.menu-social-icon {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.item-social-icon {
  width: calc((100% - 72px) / 4);
}

.link-social-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-icon:hover,
.link-social-icon:focus {
  background-color: #404bbf;
}

.social-list-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .container-team {
    max-width: 600px;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-team {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }

  .menu-item-team {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team {
    background-color: #f4f4fd;
  }
  .container-team {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-team {
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #ffffff;
  }

  .menu-item-team {
    width: calc((100% - 72px) / 4);
  }
}

/* ========================================================================================================================================================
PORTFOLIO
======================================================================================================================================================== */
.menu-portfolio {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.menu-item-portfolio {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.itens-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 100%;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-portfolio:hover .text-overlay {
  transform: translateY(0%);
}

.item-title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.item-text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .menu-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .menu-item-portfolio {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .menu-portfolio {
    row-gap: 48px;
  }

  .menu-item-portfolio {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item-portfolio:hover,
  .menu-item-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* ========================================================================================================================================================
FOOTER
======================================================================================================================================================== */
.page-footer {
  background-color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-info {
  text-align: center;
}

.page-footer .logo-type {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

.page-footer .logo-studio {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-social {
  width: 208px;
  margin-left: auto;
  margin-right: auto;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-menu-social-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.footer-link-social-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-social-icon:hover,
.footer-link-social-icon:focus {
  background-color: #31d0aa;
}

.social-list-icon {
  fill: #f4f4fd;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  opacity: 0.3;
  padding-left: 16px;
}

.subscribe-email::placeholder {
  color: #ffffff;
}

.subscribe-email:hover,
.subscribe-email:focus {
  border: none;
  opacity: 1;
}

.subscribe-button {
  border-radius: 4px;
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.subsribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .page-footer {
    margin-left: 0;
    margin-right: 0;
  }

  .container-footer {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: baseline;
  }

  .footer-info {
    text-align: left;
    width: 264px;
    margin-left: 108px;
  }

  .footer-social {
    margin-left: 24px;
  }

  .footer-subscribe {
    margin-left: 108px;
  }

  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-email {
    width: 264px;
  }

  .subscribe-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-footer {
    flex-wrap: nowrap;
    gap: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-info {
    margin-left: 0;
  }

  .footer-social {
    margin-left: 120px;
  }

  .footer-subscribe {
    margin-left: 80px;
  }
}
/* ========================================================================================================================================================
BACKDROP
======================================================================================================================================================== */
